.root {
    border-top: 1px solid #ddd;
    padding: 1.8em 1em;
    margin-top: calc(7vh + 2vw + 2em);
    display: flex;
}

.root div {
    flex: auto;
    display: flex;
    flex-direction: column;
}
.root div:last-child {
    text-align: right;
}
.root div p {
    margin: .5em 0;
}

.projectName {
    font-weight: bold;
    color: var(--spotly-color);
}

.hiddenLogout {
    visibility: hidden;
}

@media all and (max-width: 500px) {
    .root {
        flex-direction: column;
    }
    .root div:last-child {
        text-align: left;
    }
    /* Display logout button as last item on mobile to reach it easily */
    .logout {
        order: 1;
    }
    .hiddenLogout {
        display: none;
    }
}
