.root {
    padding-bottom: calc(5vh + 5em);
}

.root, .minHeight {
    min-height: calc(98vh - 17em);
}

@media all and (max-width: 500px) {
    .root, .minHeight {
        min-height: calc(98vh - 21em);
    }
}

.geniusIndicator {
    opacity: 0.85;
}
