.root {
    display: flex;
    width: auto;
    margin: .5em 0 1.5em;
    min-height: 5em;
}

.root img {
    width: 64px;
    height: 64px;
    align-self: center;
}

.songInfo {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.songInfo > span:first-child {
    font-weight: 600;
}
