:root {
    --bg-color: #fff;
    --text-color: #111;
    --spotify-green: #1DB954;
    --spotly-color: #dc51dc;
    --header-min-height: 7em;
    --border-line-color: #ddd;
    --link-color: #0B63CE;
    --link-hover-color: #002d76;
    --light-bold-color: #444;
    --faded-link-color: #666;
    --faded-link-hover-color: #333;
    --dim-text: 'dim';
}

:root.dark-theme {
    --bg-color: #2b2b2b;
    --text-color: #fff;
    --border-line-color: #666;
    --link-color: #5bc2ff;
    --link-hover-color: #3ea4ff;
    --light-bold-color: #d2d2d2;
    --faded-link-color: #ccc;
    --faded-link-hover-color: #eee;
    --dim-text: 'lighten';
}

@media all and (max-height: 700px) {
    :root {
        --header-min-height: 8vh;
    }
}
@media all and (max-height: 500px) {
    :root {
        --header-min-height: 2vh;
    }
}

::-moz-focus-inner {
    border: 0;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html, body {
    background: var(--bg-color);
    color: var(--text-color);
}
/* Somehow this makes color transitions work on Chromium-based browsers */
body p {
    color: var(--text-color);
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    line-height: 1.4;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 38em;
    margin: calc(2vw + 0.5em) auto 0;
    padding: 0 1.5em;
    min-height: calc(100vh - (2vw + 0.5em) - 1px);
    /* workaround to get perfect height on mobile */
    /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
    min-height: calc(calc(var(--vh, 1vh) * 100) - (2vw + 0.5em) - 1px);
}

.top-padding {
    height: 7em;
}

.light-bold {
    font-weight: 600;
    color: var(--light-bold-color);
}


a.link, button.link {
    text-decoration: none!important;
    outline: none!important;
    color: var(--link-color);
    background: none!important;
    border: none;
    border-bottom: 1px solid;
    cursor: pointer;
    font-size: 1rem;
    padding: 0;
    line-height: inherit;
}
a.link:hover, button.link:hover {
    color: var(--link-hover-color);
}
a.link:active, a.link:focus, button.link:active, button.link:focus {
    color: var(--link-hover-color);
    opacity: .8;
}

.transitioning, .transitioning * {
    transition: all .2s!important;
}
