:root {
    --bg-color: #fff;
    --bg-light: #eee;
    --bg-mid: #a8a8a8;
    --text-color: #111;
    --main-box-shadow: 0 .2em 1em rgba(0,0,0,0.19), 0 .1em .3em rgba(0,0,0,0.23);
    --spotify-green: #1DB954;
}
/*@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1e1d1d;
        --bg-light: #333;
        --bg-mid: #555;
        --text-color: #fff;
        --main-box-shadow: 0 .2em 1em rgba(0,0,0,0.27), 0 .1em .3em rgba(0,0,0,0.3);
    }
}*/

::-moz-focus-inner {
    border: 0;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html, body {
    background: var(--bg-color);
    color: var(--text-color);
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    line-height: 1.4;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 39em;
    margin: 2em auto 0;
    padding: 0 1.5em;
}

.loading-height {
    height: 7em;
}

.light-bold {
    font-weight: 600;
    color: #444;
}


a.link, button.link {
    text-decoration: none!important;
    outline: none!important;
    color: #0D57B1;
    background: none!important;
    border: none;
    border-bottom: 1px solid;
    cursor: pointer;
    font-size: 1rem;
    padding: 0;
    line-height: inherit;
}
a.link:hover, button.link:hover {
    color: #0C1751;
}
a.link:active, a.link:focus, button.link:active, button.link:focus {
    color: #0C1751;
    opacity: .8;
}
